body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-content {
  line-height: 1.07;
}
.section-intro {
  background-color: #2e2f42;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.btn-order {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}
.section-advantages {
  background-color: #fff;
}
.section-subtitle {
  color: #2e2f42;
}
.advantages-list {
  width: 1440px;
  height: 600px;
}
.advantages-item {
  background-color: #2e2f42;
}
.advantages-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-team {
  background-color: #f4f4fd;
}
.section-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 226px;
  height: 406px;
}
.team-member {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 226px;
  height: 406px;
}
.team-photo {
  width: 264px;
  height: 260px;
}
.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
